<!DOCTYPE html>
<html>
<body>

<% d = Date.today %>
<% day = d.strftime(%A) %>
<% month = d.strftime(%B) %>
<% date = d.date %>
<% year = d.year %>

<h1>Today</h1>
<p>Today is <%= day %>, <%= month %> <%= date %>, <%= year %></p>

</body>
</html>
